[submodule "langs/az"]
	path = langs/az
	url = git@github.com:Nigez-com/az.git
[submodule "langs/cv"]
	path = langs/cv
	url = git@github.com:Nigez-com/cv.git
[submodule "langs/de"]
	path = langs/de
	url = git@github.com:Nigez-com/de.git
