[submodule "langs/az"]
	path = langs/az
	url = git@github.com:Nigez-com/az.git
[submodule "langs/cv"]
	path = langs/cv
	url = git@github.com:Nigez-com/cv.git
[submodule "langs/de"]
	path = langs/de
	url = git@github.com:Nigez-com/de.git
[submodule "langs/hu"]
	path = langs/hu
	url = git@github.com:Nigez-com/hu.git
[submodule "langs/kk"]
	path = langs/kk
	url = git@github.com:Nigez-com/kk.git
[submodule "langs/ky"]
	path = langs/ky
	url = git@github.com:Nigez-com/ky.git
[submodule "langs/ru"]
	path = langs/ru
	url = git@github.com:Nigez-com/ru.git
